@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#FFF7ED;
    min-height:100vh;
    padding:50px 20px;
}

/* Dashboard */

.dashboard{

    max-width:1200px;
    margin:auto;

}

/* Header */

.header{

    text-align:center;
    margin-bottom:60px;

}

.header img{

    width:90px;
    margin-bottom:20px;

}

.header h1{

    font-size:42px;
    color:#1F2937;
    margin-bottom:15px;

}

.header p{

    max-width:750px;
    margin:auto;
    color:#6B7280;
    line-height:1.8;
    font-size:17px;

}

/* Cards */

.cards{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;

}

.card{

    background:#fff;
    text-decoration:none;
    color:#1F2937;

    padding:35px;

    border-radius:16px;

    border:1px solid #E5E7EB;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.card:hover{

    transform:translateY(-8px);

    border-color:#F97316;

    box-shadow:0 15px 35px rgba(249,115,22,.20);

}

.icon{

    font-size:50px;
    margin-bottom:20px;

}

.card h2{

    color:#F97316;
    margin-bottom:15px;
    font-size:24px;

}

.card p{

    color:#6B7280;
    line-height:1.7;

}

/* Logout */

.logout h2{

    color:#DC2626;

}

.logout:hover{

    border-color:#DC2626;

    box-shadow:0 15px 35px rgba(220,38,38,.18);

}

/* Responsive */

@media(max-width:768px){

.header h1{

font-size:34px;

}

.header p{

font-size:16px;

}

}