@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family:'Inter',sans-serif;
    background:#fafafa;
    color:#1f2937;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow-x:hidden;
    padding:30px;
}
.back-link{
    position:absolute;
    top:35px;
    left:40px;
    text-decoration:none;
    color:#667085;
    font-size:20px;
    font-weight:600;
    transition:.3s;
}

.back-link:hover{
    color:#e85d2a;
}

.form-container{
    width:100%;
    max-width:520px;
    min-height:600px;
    background:#fafafa;
    border-radius: none;
    padding:45px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.form-container h1{
    font-family:'Playfair Display',serif;
    font-size:40px;
    line-height:1.2;
    margin-bottom:30px;
    color:#101828;
}

form{
    width:100%;
}

.form-group{
    margin-bottom:22px;
}
.checkbox-group{
    display:flex;
    align-items:flex-start;
    gap:10px;
    margin:25px 0 35px;
}

.checkbox-group input{
    margin-top:4px;
    width:18px;
    height:18px;
}

.checkbox-group label{
    line-height:1.5;
    color:#667085;
}
.form-group input{
    width:100%;
    height:56px;
    padding:0 18px;
    border:1px solid #d0d5dd;
    border-radius:12px;
    font-size:16px;
}
.form-group input:focus{
    outline:none;
    border-color:#e85d2a;
    box-shadow:0 0 0 3px rgba(232,93,42,.2);
}

/* Button */

.submit-btn{
    width:100%;
    height:56px;
    border:none;
    border-radius:12px;
    background:#e85d2a;
    color:#fff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.submit-btn:hover{
    background:#cf4f21;
    transform:translateY(-2px);
}
/* register link */
.register-link{
    margin-top:20px;
    text-align:center;
}
.register-link p{
    font-size:16px;
    color:#667085;
    margin-bottom:8px;
}
.register-link a{
    color:#e85d2a;
    font-weight:600;
    transition:.3s;
}
.register-link a:hover{
    color:#cf4f21;
}
/* hide password */
.password-container{
    position:relative;
}

.password-container input{
    width:100%;
    padding-right:55px;
}

.toggle-password{
    position:absolute;
    right:18px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:20px;
    user-select:none;
    color:#777;
    transition:.3s;
}

.toggle-password:hover{
    color:#e85d2a;
}
/* Mobile */

@media(max-width:600px){

    .back-link{
        top:20px;
        left:20px;
    }

    .form-container{
        max-width:100%;
        min-height:auto;
        padding:30px 25px;
    }

    .form-container h1{
        font-size:32px;
    }

}